<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    {{ WP_HEAD }}
    {{ CSS:css/cars.css }}
    {{ CSS_REMOTE:https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap }}
    {{ CSS_REMOTE:https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap }}
</head>
<body>
<div id="wholeweb">
    <div id="center">
        <div id="web">
            <header>
                <div id="head">
                    <div id="logo">
                        <a href="" class="justlink"><img src="{{ PATH:images/cars/logo.png }}" alt="Uved Cars Logo"></a>
                    </div>
                    <div class="line">
                        <div></div>
                        <div></div>
                    </div>
                    <h1><a href="">shop.uvedcars.cz</a></h1>
                    <div id="contactinfozone">
                        {{ MENU:header-contact:START }}
                        <span id="contactus" class="roboto-regular">Kontaktujte nás</span>
                        <span id="contactnumber">{{ TITLE }}</span>
                        {{ MENU:header-contact:END }}
                    </div>
                    <div id="phoneicon">
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div id="menu">
                    <ul>
                        <li>Úvodní strana
                            <ul>
                                {{ MENU:header-col-1:START }}
                                <li class="{{ CLASSES }} {{ IS_ACTIVE }}"><a href="{{ URL }}" target="{{ TARGET }}">{{ TITLE }}</a></li>
                                {{ MENU:header-col-1:END }}
                            </ul>
                        </li>

                        <li>Podpora
                            <ul>
                                {{ MENU:header-col-2:START }}
                                <li class="{{ CLASSES }} {{ IS_ACTIVE }}"><a href="{{ URL }}" target="{{ TARGET }}">{{ TITLE }}</a></li>
                                {{ MENU:header-col-2:END }}
                            </ul>
                        </li>

                        <li>Obchodní podmínky
                            <ul>
                                {{ MENU:header-col-3:START }}
                                <li class="{{ CLASSES }} {{ IS_ACTIVE }}"><a href="{{ URL }}" target="{{ TARGET }}">{{ TITLE }}</a></li>
                                {{ MENU:header-col-3:END }}
                            </ul>
                        </li>

                        <li>Kontakt
                            <ul>
                                {{ MENU:header-col-4:START }}
                                <li class="{{ CLASSES }} {{ IS_ACTIVE }}"><a href="{{ URL }}" target="{{ TARGET }}">{{ TITLE }}</a></li>
                                {{ MENU:header-col-4:END }}
                            </ul>
                        </li>

                        <li>Doprava
                            <ul>
                                {{ MENU:header-col-5:START }}
                                <li class="{{ CLASSES }} {{ IS_ACTIVE }}"><a href="{{ URL }}" target="{{ TARGET }}">{{ TITLE }}</a></li>
                                {{ MENU:header-col-5:END }}
                            </ul>
                        </li>
                    </ul>
                </div>
            </header>
            <div id="content">
                <div id="centeredthings">
                    {{ MENU:banner-title-1:START }}
                    <h2>{{ TITLE }}</h2>
                    {{ MENU:banner-title-1:END }}
                    {{ MENU:banner-title-2:START }}
                    <h4>{{ TITLE }}</h4>
                    {{ MENU:banner-title-2:END }}
                    <div id="filterdiv">
                        <div id="filtertopstripe"></div>
                        <div id="filter">
                            <form>
                                <div>
                                    <div>
                                        <button class="selected" id="cars">Osobní, SUV, 4x4</button>
                                        <button id="vans">Dodávky</button>
                                        <button id="larrys">Nákladní</button>
                                        <button id="discs">Disky</button>
                                    </div>
                                </div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div>
                                    <input type="submit" Value="Hledat">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="shop">
                    <h5>Více než 2500 pneumatik v nabídce</h5>
                    <div>
                        {{ POSTS:START }}
                        <div class="{{ CLASS }}">
                            <div class="image">
                                <a href="{{ PERMALINK }}">{{ THUMBNAIL }}</a>
                            </div>
                            <div class="stats">
                                <div>
                                    <span>{{ FIELD:tire_wet_grip }}</span>
                                    <span>{{ FIELD:tire_fuel_efficiency }}</span>
                                    <span>{{ FIELD:tire_noise_level }}</span>
                                </div>
                            </div>
                            <div class="info">
                                <h3><a href="{{ PERMALINK }}">{{ TITLE }}</a></h3>
                                <div>
                                    <p>rozměry pneu:    {{ FIELD:tire_dimensions }}</p>
                                    <p>index rychlosti: {{ FIELD:tire_speed_index }}</p>
                                    <p>index nosnosti:  {{ FIELD:tire_load_index }}</p>
                                </div>
                            </div>
                        </div>
                        {{ POSTS:END }}
                    </div>
                </div>
                <div id="showmore">
                    <a href="{{ PAGINATION_PREV }}">
                        <div>
                            <span>Zobrazit předchozí produkty</span>
                        </div>
                    </a>
                    <a href="{{ PAGINATION_NEXT }}">
                        <div>
                            <span>Zobrazit další produkty</span>
                        </div>
                    </a>
                </div>
            </div>
            <footer>
                <div id="benefits">
                    <div>
                        <div id="velkyvyber">
                            <div class="image"></div>
                            <div class="text">
                                <h5>Velký výběr prodávaných značek</h5>
                            </div>
                        </div>
                        <div id="postovne">
                            <div class="image"></div>
                            <div class="text">
                                <h5>Poštovné <br> od 5000,- Kč zdarma</h5>
                            </div>
                        </div>
                        <div id="ceny">
                            <div class="image"></div>
                            <div class="text">
                                <h5>Bezkonkurenční ceny</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="mailing">
                    <span>Máte zájem o zasílání novinek?</span>
                    <form>
                        <input type="email" placeholder="Zadejte váš email">
                        <input type="submit">
                    </form>
                </div>
                <div id="foot">
                    <div id="footgap"></div>
                    <div id="footinfo">
                        <div>
                            <div>
                                <ul>
                                    <li>
                                        <h6><a href="">Vše o nákupu</a></h6>
                                    </li>
                                    {{ MENU:footer-menu:START }}
                                    <li class="{{ CLASSES }} {{ IS_ACTIVE }}">
                                        <p><a href="{{ URL }}" target="{{ TARGET }}">{{ TITLE }}</a></p>
                                    </li>
                                    {{ MENU:footer-menu:END }}
                                </ul>
                            </div>
                            <div></div>
                            <div>
                                <ul>
                                    <li>
                                        <h6><a href="">Sídlo společnosti</a></h6>
                                    </li>
                                    {{ MENU:footer-col-2:START }}
                                    <li class="{{ CLASSES }} {{ IS_ACTIVE }}">
                                        <p><a href="{{ URL }}" target="{{ TARGET }}">{{ TITLE }}</a></p>
                                    </li>
                                    {{ MENU:footer-col-2:END }}
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <h6><a href="">Doručovací adresa</a></h6>
                                    </li>
                                    {{ MENU:footer-col-3:START }}
                                    <li class="{{ CLASSES }} {{ IS_ACTIVE }}">
                                        <p><a href="{{ URL }}" target="{{ TARGET }}">{{ TITLE }}</a></p>
                                    </li>
                                    {{ MENU:footer-col-3:END }}
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <h6>Otevírací doba</h6>
                                    </li>
                                    {{ MENU:footer-col-4:START }}
                                    <li class="{{ CLASSES }} {{ IS_ACTIVE }}">
                                        <p><a href="{{ URL }}" target="{{ TARGET }}">{{ TITLE }}</a></p>
                                    </li>
                                    {{ MENU:footer-col-4:END }}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="footcopyright">
                        <span class="doublelink"><a href="">Copyright © 2018 uvedcars.cz</a> | <a href="https://machin.cz/" target="_blank">Tvorba www stránek MACHIN.cz</a></span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
{{ WP_FOOTER }}
</body>
</html>