<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    {{WP_HEAD}}
    {{CSS:css/cars.css}}
    {{CSS_REMOTE:https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap}}
    {{CSS_REMOTE:https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap}}
</head>
<body>
    <div id="wholeweb">
        <div id="center">
            <div id="web">
                <header>
                    <div id="head">
                        <div id="logo">
                            <a href="" class="justlink"><img src="{{PATH:images/cars/logo.png}}" alt="Uved Cars Logo"></a>
                        </div>
                        <div class="line">
                            <div></div>
                            <div></div>
                        </div>
                        <h1><a href="">shop.uvedcars.cz</a></h1>
                        <div id="personalzone">
                            <img id="searchicon" src="{{PATH:images/cars/icons/search.png}}" alt="ikonka lupy - vyhledat">
                            <div class="line">
                                <div></div>
                                <div></div>
                            </div>
                            <div id="cartgap"></div>
                            <div id="cart">
                                <div></div>
                                <a href="" class="justlink">
                                    <div>
                                        <div>
                                            <span>2</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="loginzone">
                                <span>0,00 Kč</span>
                                <span class="doublelink"><a href="">Přihlášení</a> | <a href="">Registrace</a></span>
                            </div>
                        </div>

                        <div id="contactinfozone">
                            <span id="contactus" class="roboto-regular">Kontaktujte nás</span>
                            <span id="contactnumber">+420 775 788 227</span>
                        </div>
                        <div id="phoneicon">
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div id="menu">
                        <ul>
                            <li>Úvodní strana
                                <ul>
                                    <li><a href="">xxxxxxxxx</a></li>
                                    <li><a href="">xxxxxxxxx</a></li>
                                    <li><a href="">xxxxxxxxx</a></li>
                                    <li><a href="">xxxxxxxxx</a></li>
                                </ul>
                            </li>
                            <li>Podpora
                                <ul>
                                    <li><a href="">xxxxxxxxx</a></li>
                                    <li><a href="">xxxxxxxxx</a></li>
                                    <li><a href="">xxxxxxxxx</a></li>
                                    <li><a href="">xxxxxxxxx</a></li>
                                </ul>
                            </li>
                            <li>Obchodní podmínky
                                <ul>
                                    <li><a href="">xxxxxxxxx</a></li>
                                    <li><a href="">xxxxxxxxx</a></li>
                                    <li><a href="">xxxxxxxxx</a></li>
                                    <li><a href="">xxxxxxxxx</a></li>
                                </ul>
                            </li>
                            <li>Kontakt
                                <ul>
                                    <li><a href="">xxxxxxxxx</a></li>
                                    <li><a href="">xxxxxxxxx</a></li>
                                    <li><a href="">xxxxxxxxx</a></li>
                                    <li><a href="">xxxxxxxxx</a></li>
                                </ul>
                            </li>
                            <li>Doprava
                                <ul>
                                    <li><a href="">xxxxxxxxx</a></li>
                                    <li><a href="">xxxxxxxxx</a></li>
                                    <li><a href="">xxxxxxxxx</a></li>
                                    <li><a href="">xxxxxxxxx</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </header>
                <div id="content">
                    <div id="centeredthings">
                        <h2>Pneumatiky, disky, kompletní kola</h2>
                        <h4>5000 typů skladem, doručení do 24hodin</h4>
                        <div id="filterdiv">
                            <div id="filtertopstripe"></div>
                            <div id="filter">
                                <form>
                                    <div>
                                        <div>
                                            <button class="selected" id="cars">Osobní, SUV, 4x4</button>
                                            <button id="vans">Dodávky</button>
                                            <button id="larrys">Nákladní</button>
                                            <button id="discs">Disky</button>
                                        </div>
                                    </div>
                                    <div></div>
                                    <div>
                                        <div>
                                            <select id="znacka">
                                                <option value="" disabled selected>Značka</option>
                                                <option value="">xxxxxxxx</option>
                                                <option value="">xxxxxxxx</option>
                                                <option value="">xxxxxxxx</option>
                                            </select>
                                            <select id="sirka">
                                                <option value="" disabled selected>Šířka</option>
                                                <option value="">xxxxxxxx</option>
                                                <option value="">xxxxxxxx</option>
                                                <option value="">xxxxxxxx</option>
                                            </select>
                                            <select id="profil">
                                                <option value="" disabled selected>Profil</option>
                                                <option value="">xxxxxxxx</option>
                                                <option value="">xxxxxxxx</option>
                                                <option value="">xxxxxxxx</option>
                                            </select>
                                            <select id="prumer">
                                                <option value="" disabled selected>Průměr</option>
                                                <option value="">xxxxxxxx</option>
                                                <option value="">xxxxxxxx</option>
                                                <option value="">xxxxxxxx</option>
                                            </select>
                                            <select id="sezona">
                                                <option value="" disabled selected>Sezóna</option>
                                                <option value="">xxxxxxxx</option>
                                                <option value="">xxxxxxxx</option>
                                                <option value="">xxxxxxxx</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div></div>
                                    <div>
                                        <input type="submit" Value="Hledat">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="shop">
                        <h5>Více než 2500 pneumatik v nabídce</h5>
                        <div>
                            <div>
                                <div class="image">
                                    <img src="{{PATH:images/cars/tire3.png}}" alt="pneumatika">
                                </div>
                                <div class="stats">
                                    <div>
                                        <span>E</span>
                                        <span>C</span>
                                        <span>68</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <h3>Tomket snowroad pro 3 XL</h3>
                                    <div>
                                        <p>rozměry pneu:	205/55 R16</p>
                                        <p>index rychlosti:	H (210 km/h)</p>
                                        <p>index nosnosti:	94 (650 kg)</p>
                                    </div>
                                    <span>1129,-</span>
                                </div>
                                <div class="addtocart">
                                    <form>
                                        <input type="number" placeholder="1">
                                        <input type="submit" value="do košíku">
                                    </form>
                                </div>
                            </div>
                            <div>
                                <div class="image">
                                    <img src="{{PATH:images/cars/tire3.png}}" alt="pneumatika">
                                </div>
                                <div class="stats">
                                    <div>
                                        <span>E</span>
                                        <span>C</span>
                                        <span>68</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <h3>Tomket snowroad pro 3 XL</h3>
                                    <div>
                                        <p>rozměry pneu:	205/55 R16</p>
                                        <p>index rychlosti:	H (210 km/h)</p>
                                        <p>index nosnosti:	94 (650 kg)</p>
                                    </div>
                                    <span>1129,-</span>
                                </div>
                                <div class="addtocart">
                                    <form>
                                        <input type="number" placeholder="1">
                                        <input type="submit" value="do košíku">
                                    </form>
                                </div>
                            </div>
                            <div>
                                <div class="image">
                                    <img src="{{PATH:images/cars/tire3.png}}" alt="pneumatika">
                                </div>
                                <div class="stats">
                                    <div>
                                        <span>E</span>
                                        <span>C</span>
                                        <span>68</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <h3>Tomket snowroad pro 3 XL</h3>
                                    <div>
                                        <p>rozměry pneu:	205/55 R16</p>
                                        <p>index rychlosti:	H (210 km/h)</p>
                                        <p>index nosnosti:	94 (650 kg)</p>
                                    </div>
                                    <span>1129,-</span>
                                </div>
                                <div class="addtocart">
                                    <form>
                                        <input type="number" placeholder="1">
                                        <input type="submit" value="do košíku">
                                    </form>
                                </div>
                            </div>
                            <div>
                                <div class="image">
                                    <img src="{{PATH:images/cars/tire3.png}}" alt="pneumatika">
                                </div>
                                <div class="stats">
                                    <div>
                                        <span>E</span>
                                        <span>C</span>
                                        <span>68</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <h3>Tomket snowroad pro 3 XL</h3>
                                    <div>
                                        <p>rozměry pneu:	205/55 R16</p>
                                        <p>index rychlosti:	H (210 km/h)</p>
                                        <p>index nosnosti:	94 (650 kg)</p>
                                    </div>
                                    <span>1129,-</span>
                                </div>
                                <div class="addtocart">
                                    <form>
                                        <input type="number" placeholder="1">
                                        <input type="submit" value="do košíku">
                                    </form>
                                </div>
                            </div>
                            <div>
                                <div class="image">
                                    <img src="{{PATH:images/cars/tire3.png}}" alt="pneumatika">
                                </div>
                                <div class="stats">
                                    <div>
                                        <span>E</span>
                                        <span>C</span>
                                        <span>68</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <h3>Tomket snowroad pro 3 XL</h3>
                                    <div>
                                        <p>rozměry pneu:	205/55 R16</p>
                                        <p>index rychlosti:	H (210 km/h)</p>
                                        <p>index nosnosti:	94 (650 kg)</p>
                                    </div>
                                    <span>1129,-</span>
                                </div>
                                <div class="addtocart">
                                    <form>
                                        <input type="number" placeholder="1">
                                        <input type="submit" value="do košíku">
                                    </form>
                                </div>
                            </div>
                            <div>
                                <div class="image">
                                    <img src="{{PATH:images/cars/tire3.png}}" alt="pneumatika">
                                </div>
                                <div class="stats">
                                    <div>
                                        <span>E</span>
                                        <span>C</span>
                                        <span>68</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <h3>Tomket snowroad pro 3 XL</h3>
                                    <div>
                                        <p>rozměry pneu:	205/55 R16</p>
                                        <p>index rychlosti:	H (210 km/h)</p>
                                        <p>index nosnosti:	94 (650 kg)</p>
                                    </div>
                                    <span>1129,-</span>
                                </div>
                                <div class="addtocart">
                                    <form>
                                        <input type="number" placeholder="1">
                                        <input type="submit" value="do košíku">
                                    </form>
                                </div>
                            </div>
                            <div>
                                <div class="image">
                                    <img src="{{PATH:images/cars/tire3.png}}" alt="pneumatika">
                                </div>
                                <div class="stats">
                                    <div>
                                        <span>E</span>
                                        <span>C</span>
                                        <span>68</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <h3>Tomket snowroad pro 3 XL</h3>
                                    <div>
                                        <p>rozměry pneu:	205/55 R16</p>
                                        <p>index rychlosti:	H (210 km/h)</p>
                                        <p>index nosnosti:	94 (650 kg)</p>
                                    </div>
                                    <span>1129,-</span>
                                </div>
                                <div class="addtocart">
                                    <form>
                                        <input type="number" placeholder="1">
                                        <input type="submit" value="do košíku">
                                    </form>
                                </div>
                            </div>
                            <div>
                                <div class="image">
                                    <img src="{{PATH:images/cars/tire3.png}}" alt="pneumatika">
                                </div>
                                <div class="stats">
                                    <div>
                                        <span>E</span>
                                        <span>C</span>
                                        <span>68</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <h3>Tomket snowroad pro 3 XL</h3>
                                    <div>
                                        <p>rozměry pneu:	205/55 R16</p>
                                        <p>index rychlosti:	H (210 km/h)</p>
                                        <p>index nosnosti:	94 (650 kg)</p>
                                    </div>
                                    <span>1129,-</span>
                                </div>
                                <div class="addtocart">
                                    <form>
                                        <input type="number" placeholder="1">
                                        <input type="submit" value="do košíku">
                                    </form>
                                </div>
                            </div>
                            <div>
                                <div class="image">
                                    <img src="{{PATH:images/cars/tire3.png}}" alt="pneumatika">
                                </div>
                                <div class="stats">
                                    <div>
                                        <span>E</span>
                                        <span>C</span>
                                        <span>68</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <h3>Tomket snowroad pro 3 XL</h3>
                                    <div>
                                        <p>rozměry pneu:	205/55 R16</p>
                                        <p>index rychlosti:	H (210 km/h)</p>
                                        <p>index nosnosti:	94 (650 kg)</p>
                                    </div>
                                    <span>1129,-</span>
                                </div>
                                <div class="addtocart">
                                    <form>
                                        <input type="number" placeholder="1">
                                        <input type="submit" value="do košíku">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="showmore">
                        <a href="">
                            <div>
                                <span>Zobrazit dalších 30 produktů</span>
                            </div>
                        </a>
                    </div>
                </div>
                <footer>
                    <div id="benefits">
                        <div>
                            <div id="velkyvyber">
                                <div class="image"></div>
                                <div class="text">
                                    <h5>Velký výběr prodávaných značek</h5>
                                </div>
                            </div>
                            <div id="postovne">
                                <div class="image"></div>
                                <div class="text">
                                    <h5>Poštovné <br> od 5000,- Kč zdarma</h5>
                                </div>
                            </div>
                            <div id="ceny">
                                <div class="image"></div>
                                <div class="text">
                                    <h5>Bezkonkurenční ceny</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="mailing">
                        <span>Máte zájem o zasílání novinek?</span>
                        <form>
                            <input type="email" placeholder="Zadejte váš email">
                            <input type="submit">
                        </form>
                    </div>
                    <div id="foot">
                        <div id="footgap"></div>
                        <div id="footinfo">
                            <div>
                                <div>
                                    <ul>
                                        <li>
                                            <h6><a href="">Vše o nákupu</a></h6>
                                        </li>
                                        <li>
                                            <p><a href="">Úvodní strana</a></p>
                                        </li>
                                        <li>
                                            <p><a href="">Podpora</a></p>
                                        </li>
                                        <li>
                                            <p><a href="">Obchodní podmínky</a></p>
                                        </li>
                                        <li>
                                            <p><a href="">Kontakt</a></p>
                                        </li>
                                        <li>
                                            <p><a href="">Doprava</a></p>
                                        </li>
                                    </ul>  
                                </div>
                                <div></div>
                                <div>
                                    <ul>
                                        <li>
                                            <h6><a href="">Sídlo společnosti</a></h6>
                                        </li>
                                        <li>
                                            <p>UVED Company, s.r.o.</p>
                                        </li>
                                        <li>
                                            <p><a href="">Bulharská 996/20</a></p>
                                        </li>
                                        <li>
                                            <p><a href="">101 00 Praha 10 - Vršovice</a></p>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            <h6><a href="">Doručovací adresa</a></h6>
                                        </li>
                                        <li>
                                            <p>UVED Company, s.r.o.</p>
                                        </li>
                                        <li>
                                            <p><a href="">Mariánské náměstí 73</a></p>
                                        </li>
                                        <li>
                                            <p><a href="">686 01 Uherské Hradištět</a></p>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            <h6>Otevírací doba</h6>
                                        </li>
                                        <li>
                                            <p>Pondělí - Pátek</p>
                                        </li>
                                        <li>
                                            <p>7:00 - 19:00</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="footcopyright">
                            <span class="doublelink"><a href="">Copyright © 2018 uvedcars.cz</a> | <a href="https://machin.cz/" target="_blank">Tvorba www stránek MACHIN.cz</a></span>
                        </div>
                    </div>    
                </footer>
            </div>
        </div>
    </div>
</body>
</html>