<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{ WP_HEAD }}
</head>
<body>
<div class='{{ CLASS }}'>
    <h2>
        <a href='{{ PERMALINK }}' rel='bookmark' title='Permanent Link to "{{ TITLE_ATTRIBUTE }}"'>{{ TITLE }}</a>
    </h2>
    <small>{{ TIME }} by {{ AUTHOR_POSTS_LINK }}</small>
    <div class='entry'>{{ CONTENT }}</div>
    <p class='postmetadata'>Posted in {{ CATEGORIES }}</p>
</div>
{{ WP_FOOTER }}
</body>
</html>