<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ WP_HEAD }}
</head>
<body>
<div class="container">
    <h1>My Blog</h1>
    {{ POSTS:START }}
    <div class='{{ CLASS }}'>
        <h2>
            <a href='{{ PERMALINK }}' rel='bookmark'>{{ TITLE }}</a>
        </h2>
        <small>{{ TIME }} by {{ AUTHOR_POSTS_LINK }}</small>
        <div>{{ THUMBNAIL }}</div>
        <div class='entry'>{{ CONTENT }}</div>
        <p class='postmetadata'>Posted in {{ CATEGORIES }}</p>
    </div>
    {{ POSTS:END }}
    {{ PAGINATION }}
</div>
{{ WP_FOOTER }}
</body>
</html>